In [1]:
print('Hello World')

Hello World

In [2]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
print('"도둑이야"')

"도둑이야"

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈, \t는 탭

안녕하세요.
만나서		반갑습니다.

In [6]:
print("오늘은","일요일")

오늘은 일요일

In [8]:
print("오늘은", "일요일")

SyntaxError: positional argument follows keyword argument (2484094655.py, line 1)

In [9]:
print("오늘은",end='')
print("일요일")
# 붙여 쓰는 방법 print 내부에 콤마로 연결시켜서 붙여 쓸수는 없을까?

오늘은일요일

In [10]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [12]:
print('naver','kakao','sk','smasung', sep=';')

naver;kakao;sk;smasung

In [13]:
print('naver','kakao','sk','smasung', sep='/')

naver/kakao/sk/smasung

In [14]:
print("first", end='');print('second')

firstsecond

In [15]:
print(5/3)

1.6666666666666667

In [16]:
삼성전자 = 50,000

In [17]:
삼성전자

(50, 0)

In [19]:
삼성전자 = '50,000원'

In [20]:
삼성전자 = 50000

In [21]:
삼성전자*10

500000

In [22]:
시가총액 = 298
현재가 = 50000
PER = 15.79

In [23]:
type(시가총액)

int

In [32]:
s = "Hello"
t = "python"

In [33]:
print('s'\!,t)

SyntaxError: unexpected character after line continuation character (1610696296.py, line 1)

In [34]:
print(s,t)

Hello python

In [35]:
print(s!,t)

SyntaxError: invalid syntax (1230384831.py, line 1)

In [36]:
print(s,t,sep='! ')

Hello! python

In [37]:
print(s+"!", t)

Hello! python

In [38]:
a = "132"
print(type(a))

<class 'str'>

In [39]:
int("730")

730

In [40]:
float('15.79')

15.79

In [42]:
year = "2020"
int(year)
print(year, year+1, year+2)

TypeError: can only concatenate str (not "int") to str

In [43]:
year

'2020'

In [44]:
int(year)

2020

In [46]:
print(year, year+1, year+2)

TypeError: can only concatenate str (not "int") to str

In [47]:
print(year)

2020

In [48]:
print(year+1)

TypeError: can only concatenate str (not "int") to str

In [49]:
type(year)

str

In [50]:
int(year)

2020

In [51]:
type(year)

str

In [52]:
year

'2020'

In [53]:
print(year,int(year)+1,int(year)+2)
#정수로 변환하는 함수로 year라는 변수를 변환한거지 
#year자체가 int로 변환된것이 아니다
#그러므로 위코드와 같이 작성했다면,첫번째 2020은 str 뒤에 둘은 int이다

2020 2021 2022

In [56]:
에어컨월납입금 = 48,584
총금액 = 에어컨월납입금*36
print(총금액)

(48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584, 48, 584)

In [57]:
type(에어컨월납입금)
# 컴마(,) 를 사용해서 요소가 튜플로 저장됨
# 튜플에 곱하기를 했더니반복해서 생성된게 하나의튜풀로 된듯

tuple

In [58]:
총연습 = 에어컨월납입금*2

In [59]:
총연습
#맞음
#튜플도 곱하기가된다
#리스트도 곱하기가 될까?
#됨 ㅣn60 참고

(48, 584, 48, 584)

In [60]:
a = [1,2,3,4]
b = a*2
print(b)

[1, 2, 3, 4, 1, 2, 3, 4]

In [61]:
a = (1,2,3)

In [63]:
a =a*2

In [64]:
a

(1, 2, 3, 1, 2, 3)

In [65]:
에어컨 = 48584
총금액 = 에어컨*36
print(총금액)

1749024